$fg: #383838;
$bg: #f5f5f5;

html, body {
  margin: 1rem;
  background: $bg;
  color: $fg;
  font-size: 1.3rem;
}

body {
  display: flex;
  flex-direction: column;
}

.header, h2, table {
  background: white;
  box-shadow: 0 1px 1px rgba(0,0,0,.15);
  padding: 1rem;
}

.header {
  margin-bottom: 0.5rem;
}

a {
  color: blue;
}

.heatmap {
  margin: 20px auto;
  display: inline-block;
  padding: 0;

  h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 5px;
  }
}

table {
  font-family: monospace;
  border-collapse: collapse;
  border-top: none;

  tr {
    td {
      //border: 1px solid gray;
      border: none;
      padding: 0.55rem 0.2rem;
      text-align: center;
      width: 3rem;
    }

    .day {
      font-size: 80%;
      padding: 9px 15px;
      background-color: white;
    }
  }

  .hours {
    position: relative;
    left: -1.6rem;
    text-align: center;

    td {
      border: none;
    }
  }

  .first, .last, .day {
    border: none;
  }
}

.sliderControl {
  width: 100%;
  display: flex;

  #slider {
    flex: 1 1 auto;
  }
}

.slider {
  input {
    display: none;
  }

  .switch {
    align-self: flex-end;
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;

    input:checked + .toggle {
      background-color: #2196F3;
    }
    
    input:focus + .toggle {
      box-shadow: 0 0 1px #2196F3;
    }

    input {
      display: none;
    }
  
    .toggle {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: .4s;
      border-radius: 25px;
      margin: 0;
    }
    
    .toggle:before {
      position: absolute;
      content: "";
      height: 23px;
      width: 23px;
      left: 1px;
      bottom: 1px;
      background-color: white;
      transition: .4s;
      border-radius: 50%;
    }
    
    input:checked + .toggle:before {
      transform: translateX(23px);
    }
  }
}


